<h1>Listando despesas</h1>

<table>
  <%= for expense <- @expenses do %>
    <tr>
      <td><%= expense.name %></td>
      <td><%= expense.amount %></td>
      <td><%= status(expense.status) %></td>
      <td><%= frequency(expense.frequency) %></td>
      <td><%= date_time(expense.due_date) %></td>
    </tr>
  <% end %>
</table>
<p><strong>TOTAL:</strong> <%= total_expenses(@expenses) %></p>
